Custom CSS
/* body,
html {
    height: 100%;
} */




#loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  overflow: hidden;
}

#loading-spinner {
  width: 60px;
  height: 60px;
  position: relative;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #1e30f3;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-link:hover,
.dropdown-item:hover {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  transition: all 0.1s linear;
}

.btn-custom {
  transform: scale(1);
  background-color: rgb(34, 194, 194);
  box-shadow: 8px 13px 117px -28px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 8px 13px 117px -28px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 8px 13px 117px -28px rgba(0, 0, 0, 0.61);
  transition: all 0.1s linear;
}
.btn-custom:active,
#btn-3:visited {
  transform: scale(0.9);
  background-color: rgb(181, 243, 238);
  box-shadow: 1px 12px 5px -6px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 1px 12px 5px -6px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 1px 12px 5px -6px rgba(0, 0, 0, 0.71);
}

.progress,
.progress-bar {
  height: 30px;
  border-radius: 100px;
}

.bg-warning {
  background: #1e30f3;
  background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-warning {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card:hover {
  transform: translateY(-10px);
  transition: all 0.2s ease-out;
}

#btn-1:hover,
#btn-1:active {
  transition: all 0.8s linear;
  transform: rotate(360deg);
}
#btn-2:hover,
#btn-2:active {
  transition: all 00.8s linear;
  transform: translateX(10px);
}
#btn-3:hover,
#btn-3:active {
  transition: all 0.81s linear;
  transform: translateY(-10px);
}
#btn-4:hover,
#btn-4:active {
  transition: all 0.81s linear;
  transform: scaleX(1.2);
}
#btn-5:hover,
#btn-5:active {
  transition: all 0.4s linear;
  transform: scaleX(0.8);
}
#btn-6:hover,
#btn-6:active {
  transition: all 0.5s linear;
  transform: scale(1.2) rotate(8deg);
}
.btn {
  transition: all 0.5s linear;
}
#btn-7:hover,
#btn-7:active {
  transform: scale(1.5) rotate(360deg);
}
#btn-8:hover,
#btn-8:active {
  animation: btnan 02s infinite;
}

@keyframes btnan {
  20% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.2) rotate(30deg);
  }
  100% {
    transform: scale(1.2) rotate(-30deg);
  }
}
